/*==========  Global  ==========*/
/*==========  Basics  ==========*/
html,
body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #B9CFD0;
  font-family: 'Roboto Slab', serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
a {
  color: #B9CFD0;
  text-decoration: none;
  border-bottom: 1px solid #B9CFD0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
}
/*==========  Sections  ==========*/
.header {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 84px;


}

@media screen and (max-width: 800px) {
  .content-to-hide {
    display: none !important;
  }
}
}
@media (min-width: 799px) {
  .content-to-show {
    display:none;
  }
}

@media only screen and (min-width: 800px) {
  .content-to-hides {
    display: none;
  }
}
@media only screen and (max-width: 799px) {
  .content-to-hides {
    display: block;
  }
}

div {
  width: 100%;
  height: 100%;

}
div {
  height: auto; /*if more info comes on the page, it will stretch down*/
  margin: 0 auto; /*this will cause the div to be in the center*/
}
h1 {color:#16DB93;}
p {color: #777;}


.header .master-head {
  padding: 30px;
}
.starter .page-title {
  font-size: 60px;
  line-height: 1em;
  letter-spacing: 10px;
  color: #FFF;
}
.header .page-description {
  margin: auto;
  max-width: 600px;
  width:100%;
  font-size: 80px;
  line-height: 2em;
  color: white;
  text-align: center;
}
.header .scroll-button {
  padding: 15px 20px 15px 20px;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header .scroll-button:hover {
  opacity: 0.3;
  color: darkred;
}
.header .scroll-button:active {
  opacity: 1;

}
.main-content {
  margin: 0px auto;
  position: relative;
}
.main-content .section-inner,
.main-content .post-wrapper {
  *zoom: 1;
}

.main-content .section-inner{
  text-align:center;
}

.main-content .section-inner:before,
.main-content .post-wrapper:before,
.main-content .section-inner:after,
.main-content .post-wrapper:after {
  content: "";
  display: table;
}
.main-content .section-inner:after,
.main-content .post-wrapper:after {
  clear: both;
}
.footer {
  padding: 150px 0px 300px 0px;
  position: relative;
  z-index: 1;
}
.footer .good-bye {
  text-align: center;
  font-size: 18px;
  line-height: 36px;
}
.footer .good-bye p {
  display: block;
  margin: 0px auto 30px auto;
  max-width: 300px;
  clear: both;
}
.footer .good-bye .btn {
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.section .section-inner {
  margin: 0px auto;
  width: 1024px;
}
@media only screen {
  .section .section-inner {
    width: auto;
    text-align: center;
    max-width: 1024px;
  }
}
/*==========  Stem  ==========*/
.stem-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 50%;
}

.stem-wrapper .stem,
.stem-wrapper .stem-background {
  position: absolute;
  top: 0px;
  left: -30px;
  width: 60px;
}
.stem-wrapper .stem {
  background-color: transparent;
  height: 100%;
}

.stem-wrapper .stem-background {
  height: 50%;
  transition-duration: 0.5s;
}
.stem-padding,
.single-stem-icon {
  width: 60px;
  height: 60px;
  margin: 0px auto;
}
.single-stem-icon.scroll-to-top {
  cursor: pointer;
}
/*==========  Post wrapper ==========*/
.post-wrapper {
  *zoom: 1;
}
.post-wrapper:before,
.post-wrapper:after {
  content: "";
  display: table;
}
.post-wrapper:after {
  clear: both;
}
.post-wrapper .post {
  position: relative;
  width: 500px;
  padding: 0px 0px 60px 0px;
  clear: both;
  opacity: 1;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.post-wrapper .postss {
  position: relative;
  width: 600px;
  padding:170px;
  clear: both;
  opacity: 1;
  -webkit-perspective: 1000px;
  perspective: 1000px;

}

.post-wrapper .posts {
  position: relative;
  width: 1000px;
  padding: 0px 0px 60px 0px;
  clear: both;
  opacity: 1;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.post-wrapper .post.hidden  .post-content {
  -webkit-transform: translateY(100px) rotateX(30deg);
  transform: translateY(100px) rotateX(30deg);
  opacity: 0;
}

.post-wrapper .posts.hidden  .post-contents {
  -webkit-transform: translateY(100px) rotateX(30deg);
  transform: translateY(100px) rotateX(30deg);
  opacity: 0;
}

.post-wrapper .post:hover .post-content,
.post-wrapper .post.active .post-content {
  opacity: 1;
  transition: all 0.2s cubic-bezier(.7,.2,.17,1);
  box-shadow: 0 0 2px hsla(0,0%,0%,0.1);
  overflow: hidden;
  position: relative;
  background: black;
  border-radius: 0.8px;
}












.post-wrapper .post:hover .post-content .meta,
.post-wrapper .post.active .post-content .meta {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  background-color: black;
}


.post-wrapper .posts:hover .post-contents,
.post-wrapper .posts.active .post-contents {
  opacity: 1;
  transition: all 0.2s cubic-bezier(.7,.2,.17,1);
  box-shadow: 0 0 2px hsla(0,0%,0%,0.1);
  overflow: hidden;
  position: relative;
  border-radius: 0.8px;
}
.post-wrapper .posts:hover .post-contents .meta,
.post-wrapper .posts.active .post-contents .meta {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}


.post-wrapper .post:nth-child(even) {
  float: right;
}
.post-wrapper .post:nth-child(odd) {
  float: left;
}
.post-wrapper .post:nth-child(even) .stem-overlay {
  left: -110px;
}
.post-wrapper .post:nth-child(odd) .stem-overlay {
  right: -110px;
}



.post-wrapper .posts:nth-child(even) {
  float: right;
}
.post-wrapper .posts:nth-child(odd) {
  float: left;
}
.post-wrapper .posts:nth-child(even) .stem-overlay {
  left: -110px;
}
.post-wrapper .posts:nth-child(odd) .stem-overlay {
  right: -110px;
}


.post-wrapper .post .stem-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 60px;
}
.post-wrapper .post .stem-overlay .icon {
  background: transparent no-repeat center center;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.post-wrapper .post .stem-overlay .stem-mask {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.post-wrapper .posts .stem-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 60px;
}
.post-wrapper .posts .stem-overlay .icon {
  background: transparent no-repeat center center;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.post-wrapper .posts .stem-overlay .stem-mask {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.post-wrapper .post .post-content {
  opacity: 0.3;
  transition-duration: 0.4s;
  -webkit-transform: none;
  transform: none;
}
.post-wrapper .post .post-content .meta {
  color: rgba(255, 255, 255, 0.3);
  margin: 0px 0px 15px 0px;
  letter-spacing: 1px;
  opacity: 0;
  transition-duration: 1s;
  transition-delay: 0.2s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.post-wrapper .post .post-content .post-title {
  font-size: 32px;
  line-height: 42px;
  margin: 0px 0px 15px 0px;
}





.post-wrapper .post .post-contentss {

  opacity: 1;
  transition-duration: 0.4s;
}
.post-wrapper .post .post-contentss .meta {
  opacity: 1;
  transition-duration: 1s;
  transition-delay: 0.2s;
}
.post-wrapper .post .post-contentss .post-title {
}








.post-wrapper .posts .post-contents {
  opacity: 0.3;
  transition-duration: 0.4s;
  -webkit-transform: none;
  transform: none;
}
.post-wrapper .posts .post-contents .meta {
  color: rgba(255, 255, 255, 0.3);
  margin: 0px 0px 15px 0px;
  letter-spacing: 1px;
  opacity: 0;
  transition-duration: 1s;
  transition-delay: 0.2s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.post-wrapper .posts .post-contents .post-title {
  font-size: 32px;
  line-height: 42px;
  margin: 0px 0px 15px 0px;
}
/*==========  Media queries  ==========*/
@media only screen and (max-width: 1080px) {
  .main-content,
  .main-content .section-inner {
    max-width: none;
    width: auto;
  }
  .stem-wrapper {
    left: 80px;
  }
  .stem-padding,
  .single-stem-icon {
    margin: 0px;
    float: left;
    margin-left: 50px;
  }
  .post-wrapper .post,
  .post-wrapper .post:nth-child(even),
  .post-wrapper .post:nth-child(odd) {
    width: auto;
    margin-left: 110px;
    float: none;
  }
  .post-wrapper .post .stem-overlay,
  .post-wrapper .post:nth-child(even) .stem-overlay,
  .post-wrapper .post:nth-child(odd) .stem-overlay {
    left: -60px;
    right: auto;
  }
  .post-wrapper .post .post-content {
    padding: 0px 50px;
  }
}


.post-wrapper .posts,
.post-wrapper .posts:nth-child(even),
.post-wrapper .posts:nth-child(odd) {
  width: auto;
  float: none;
}
.post-wrapper .posts .stem-overlay,
.post-wrapper .posts:nth-child(even) .stem-overlay,
.post-wrapper .posts:nth-child(odd) .stem-overlay {
  left: -60px;
  right: auto;
}
.post-wrapper .posts .post-contents {
  padding: 0px 50px;
}
.post-wrapper .postss,
.post-wrapper .postss:nth-child(even),
.post-wrapper .postss:nth-child(odd) {
  width: auto;
  float: none;
}
.post-wrapper .postss .stem-overlay,
.post-wrapper .postss:nth-child(even) .stem-overlay,
.post-wrapper .postss:nth-child(odd) .stem-overlay {
  left: -60px;
  right: auto;
}
.post-wrapper .postss .post-contents {
  padding: 0px 50px;
}

@media only screen and (max-width: 700px) {
  .header .page-title {
    font-size: 40px;
  }
  .post-wrapper .post {
    margin-left: 90px !important;
  }
  .post-wrapper .post .post-content {
    padding: 0 25px;
  }
  .stem-wrapper {
    left: 60px;
  }
  .stem-padding,
  .single-stem-icon {
    margin-left: 30px;
  }
}






.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}


/* DEMO-SPECIFIC STYLES */
.typewriter h6 {
  color:brown;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
          typing 3.5s steps(30, end),
          blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }

}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  30% { border-color: black}
}


.glitch {
  animation: glitch-skew 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;
  font-family: orbitron, sans-serif;
  font-size: 8rem;
  font-weight: 600;
  line-height: 1;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform-origin: center top;
  z-index: -1;
  width: 100%;
  display: block;
}
.glitch__main {
  color: #FFF;
  z-index: -1;
}
.glitch__color {
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transform-origin: center center;
  width: 100%;
  z-index: -2;
}
.glitch__color--red {
  animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  color: red;
}
.glitch__color--blue {
  animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse;
  color: blue;
}
.glitch__color--green {
  animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
  color: #00FF0B;
}
.glitch__line {
  animation: glitch-line 2s linear infinite;
  background: #000;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.glitch__line--first {
  animation: glitch-line 2s linear infinite;
}
.glitch__line--second {
  animation: glitch-line 1s linear 1s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-8px, 8px);
  }
  40% {
    transform: translate(-8px, -8px);
  }
  60% {
    transform: translate(8px, 8px);
  }
  80% {
    transform: translate(8px, -8px);
  }
  100% {
    transform: translate(0);
  }
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
* {
  box-sizing: border-box;
}


.container {
  width: auto;
  margin: auto;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

@-webkit-keyframes top {
  from {
    -webkit-transform: translate(0rem, 0);
    transform: translate(0rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 3.5rem);
    transform: translate(0rem, 3.5rem);
  }
}

@keyframes top {
  from {
    -webkit-transform: translate(0rem, 0);
    transform: translate(0rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 3.5rem);
    transform: translate(0rem, 3.5rem);
  }
}
@-webkit-keyframes bottom {
  from {
    -webkit-transform: translate(-11.5rem, 0);
    transform: translate(-11.5rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 0);
    transform: translate(0rem, 0);
  }
}
@keyframes bottom {
  from {
    -webkit-transform: translate(-11.5rem, 0);
    transform: translate(-11.5rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 0);
    transform: translate(0rem, 0);
  }
}
.btn {
  position: relative;
  letter-spacing: 0.15em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 28px;
  color: #111111;
  cursor:pointer;
  transition-duration: 0.4s;

  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
}
.btn::after, .btn::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 10%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
  border-radius: 50%;
}
.btn::before {
  background-color: red;
  top: -0.75rem;
  left: 0.5rem;
  -webkit-animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
  animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
}
.btn::after {
  background-color: darkred;
  top: 3rem;
  left: 13rem;
  -webkit-animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
  animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
}
.btn:hover {
  color: red;
}
.btn:hover::before, .btn:hover::after {
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
  -webkit-animation: none;
  animation: none;
}
.btn:hover::after {
  left: 0rem;
}
.btn:hover::before {
  top: 0.5rem;
  left: 0.35rem;
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}








#section07 a {
  padding-top: 70px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);


.menu-button {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  text-align:center;
  line-height: 60px;
  border-radius: 50%;
  background-color: red;
  color: black;
  font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.menu-button:hover {
  background: darkred;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}
.menu-button a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  width: 0px;
  height: 0px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.menu-button a:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}
.menu-button a:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #55acee;
}
.menu-button a:nth-child(3) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: blue;
}
.menu-button a:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: darkorange;
}
.menu-button:hover a {
  opacity: 1;
  width: 50px;
  height: 50px;
}
.menu-button:hover a:nth-child(2) {
  right: 80px;
  bottom: 0px;
}
.menu-button:hover a:nth-child(2):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  background: deepskyblue;
}
.menu-button:hover a:nth-child(3) {
  right: 65px;
  bottom: 65px;
}
.menu-button:hover a:nth-child(3):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  background: darkblue;
}
.menu-button:hover a:nth-child(4) {
  right: 0px;
  bottom: 80px;
}
.menu-button:hover a:nth-child(4):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  background: orangered;
}

/*---FOR MOBILE VIEW---*/
@media screen and (max-width: 400px) {
  h1 {
    padding: 15px;
    font-size: 25px;
  }
}

* {
  box-sizing: border-box;
}



.btns {

  transition: 0.35s ease-in-out;

}

.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 2;
}
.overlay.open {
  opacity: 1;
  pointer-events: inherit;
  z-index: 1;

}
.overlay .modal {
  background: white;
  text-align: center;
  padding: 40px 80px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
  z-index:2;

}
.overlay .modal.open {
  opacity: 1;
  pointer-events: inherit;
}
.overlay .modal.open .content {
  transform: translate(0, 0px);
  opacity: 1;
}
.overlay .modal .content {
  transform: translate(0, -10px);
  opacity: 0;
  transition: 0.35s ease-in-out;
}
.overlay .modal .title {
  margin-top: 0;
}

#messenger {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 30px;
  white-space: nowrap;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
  color:white;
}


div#background {
  height: 700px;
  width: 100%;
  padding-top: 20px;
}

div#gallery {
  width: 800px;
  margin: auto;
}


#background img {
  height: 150px;
  margin: 0px;
}

#background figure {
  float: left;
  position: relative;
  background-color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 2px 3px black;
}

figure.pic1 {
  -webkit-transform : rotate(-10deg);
  z-index: 1;
}

figure.pic2 {
  -webkit-transform : rotate(15deg);
  z-index: 2;
}

figure.pic3 {
  -webkit-transform : rotate(-25deg);
  z-index: 1;
}

figure.pic4 {
  -webkit-transform : rotate(5deg);
  z-index:1;
}

figure.pic5 {
  -webkit-transform : rotate(5deg);
  z-index:1;
}

figure.pic6 {
  -webkit-transform : rotate(-8deg);
  z-index:1;
}

figure.pic7 {
  -webkit-transform : rotate(2deg);
  z-index:1;
}

figure.pic8 {
  -webkit-transform : rotate(-13deg);
  z-index:1;
}

figure.pic9 {
  -webkit-transform : rotate(-7deg);
  z-index:1;
}

figure.pic10 {
  -webkit-transform : rotate(2deg);
  z-index:1;
}

figure.pic11 {
  -webkit-transform : rotate(-3deg);
  z-index:1;
}

#background figure:hover {
  box-shadow: 5px 10px 100px black;
  -webkit-transform: scale(1.1,1.1);
  z-index: 20;
}


.overflow-hide {
  height: 60px;
  width: 190px;
  display: block;
  margin:  auto;
  overflow: hidden;
  position: relative;
}

.hole {
  content: "";
  display: block;
  width: 190px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  height: 10px;
  border-radius: 20px;
  background: grey;
  z-index: 0;
}

.button {
  height: 60px;
  width: 180px;
  text-align: center;
  line-height: 1.8;
  color: white;
  display: block;
  position: relative;
  background-color: black;
  margin: 0 auto;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.button:after {
  content: "";
  display: block;
  position: absolute;
  width: 180px;
  height: 5px;
  background: grey;
  bottom: 0;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  transition: -webkit-transform 200ms cubic-bezier(0.36, -0.17, 0.64, 1.15);
  transition: transform 200ms cubic-bezier(0.36, -0.17, 0.64, 1.15);
  transition: transform 200ms cubic-bezier(0.36, -0.17, 0.64, 1.15), -webkit-transform 200ms cubic-bezier(0.36, -0.17, 0.64, 1.15);
}
.button:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.button:hover:after {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  color: #333;
  text-align: center;
}

.h1 {
  font-weight: normal;
}

li.li {
  display: inline-block;
  font-size: 20.5px;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

#a {
  text-decoration: none;
}



#btns2 {
  top: 250px;
}

#btns3 {
  top: 350px;
}

div.buttonss {
  background-color: red;
  color: greenyellow;
  border: none;
  border-radius: 30px;
  width: 500px;
  height: 60px;
  position: fixed;
  left: -435px;
  transition: .7s ease;
}

div.buttonss:hover {
  background-color:darkred;
  position: fixed;
  left: -50px;
  width: 400px;
  border-radius: 0px;
  box-shadow: 0px 5px 0px lawngreen;
}

div.buttonss:active {
  background-color: red;
  transition: 0s;
  color:greenyellow;
}

